@model Jmp.Web.Models.ReportSetup

<div class="page-header">
    <h1>Report Setup</h1>
</div>

<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("JiraLogin", "Home", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(u => u.JiraApiUrl)
                @Html.TextBoxFor(u => u.JiraApiUrl, new { @class = "form-control", value = Model.JiraApiUrl })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.JiraUserName)
                @Html.TextBoxFor(u => u.JiraUserName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.JiraPassword)
                @Html.PasswordFor(u => u.JiraPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.IncludeLabel)
                @Html.TextBoxFor(u => u.IncludeLabel, new { @class = "form-control", value = Model.IncludeLabel })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.ColumnNamePrefix)
                @Html.TextBoxFor(u => u.ColumnNamePrefix, new { @class = "form-control", value = Model.ColumnNamePrefix })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.ColumnUnassignedLabel)
                @Html.TextBoxFor(u => u.ColumnUnassignedLabel, new { @class = "form-control", value = Model.ColumnUnassignedLabel })
            </div>
            <div class="form-group">
                <input type="submit" class="form-control btn btn-primary" value="Log In" />
            </div>
        }
    </div>
</div>