@model ReportModel

<div class="page-header">
    <h1>Jira Master Plan Report</h1>
</div>

<div class="alert alert-info">
    @string.Format("end date: {0}, critical path: {1}", Model.ReportData.EndDate.ToString("MM/dd/yy"), Model.ReportData.CriticalPath)
</div>
<hr />

@if (Model.ReportData.Warnings.Count > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading">REPORT WARNINGS:</div>
        <div class="panel-body alert-danger">
            <ul>
                @foreach (var warning in Model.ReportData.Warnings)
                {
                    <li>@warning</li>
                    //add jira search link maybe?
                }
            </ul>
        </div>
    </div>
    <hr />
}

<table class="table table-condensed table-bordered table-responsive">
    <thead>
        <tr>
            <td>
                <a target="_blank" href='@string.Format("{0}{1}", Model.ReportSetup.JiraSearchIssuesUrl, Model.ReportSetup.Jql)'>Timeline</a>
                <br />
                <span class="badge">@string.Format("{0}w", Model.ReportData.Rows.Length)</span>
            </td>
            @foreach (var h in Model.ReportData.ColumnHeaders)
            {
                <td>
                    <a target="_blank" href='@string.Format("{0}labels={1}{2}", Model.ReportSetup.JiraSearchIssuesUrl, Model.ReportSetup.ColumnLabelPrefix, h.Label)'>@h.Label</a>
                    <br />
                    <span class="badge">@string.Format("{0}h", h.TotalRemainingSeconds / 60 / 60)</span>
                </td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.ReportData.Rows)
        {
            <tr>
                <td>
                    @r.Label
                    <br />
                    <span class="badge">@string.Format("{0} - {1}", r.StartDate.ToString("MM/dd"), r.EndDate.ToString("MM/dd"))</span>
                </td>
                @foreach (var c in r.Cells)
                {
                    <td>
                        @{ string headerCss; }
                        @if (c.UsedSeconds == 0)
                        {
                            headerCss = "alert-danger";
                        }
                        else if (c.CapacitySeconds / c.UsedSeconds > 1.5)
                        {
                            headerCss = "alert-warning";
                        }
                        else
                        {
                            headerCss = "alert-success";
                        }
                        <div class="alert @headerCss">
                            <b>@c.Label</b>
                            <br />
                            capacity: @string.Format("{0}h", c.CapacitySeconds / 60 / 60)
                            <br />
                            estimate: @string.Format("{0}h", c.UsedSeconds / 60 / 60)
                            <br />
                            issues: @string.Format("{0}", c.Issues.Length)
                        </div>
                        @foreach (var i in c.Issues)
                        {
                            string issueCss;
                            if (!string.IsNullOrEmpty(i.Origin) && i.Origin.Equals("jmp", StringComparison.InvariantCultureIgnoreCase))
                            {
                                issueCss = "alert-danger";
                            }
                            else
                            {
                                issueCss = "alert-info";
                            }
                            <div class="alert @issueCss" title="@i.Fields.Summary">
                                <a href="@string.Format("{0}{1}", Model.ReportSetup.JiraShowIssueUrl, i.Key)" target="_blank" class="small">@i.Key</a>
                                <br />
                                <span class="badge">@i.Fields.TimeTracking.RemainingEstimate</span>
                            </div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>